# We ignore things, yes?

# Ruby things
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# Sinatra stuff
/pkg
/doc/api
/Gemfile.lock

# I fricking hate DS Store files
.DS_Store