/* STYLEZZZZ
-------------------------------------------------- */
/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 40px; }

/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal; }
